In [1]:
# latihan soal 1

def tupleSama(tup):
    for i in tup:
        sama = 0
        cek = i
        for j in tup:
            if cek == j:
                sama += 1
        if sama == len(tup):
            print(True)
            break
        else:
            print(False)
            break

tA= (90, 90, 90, 90)
tupleSama(tA)

tA= (80, 10, 90, 70)
tupleSama(tA)

True
False

In [2]:
# latihan soal 2

def nim_nama_alamat(tup):
    namaLengkap = tup[0]
    nim = tup[1]
    alamat = tup[2]

    print("Data:", data, '\n')
    
    print("NIM\t:", nim)
    print('NAMA\t:', namaLengkap)
    print('ALAMAT\t:', alamat, '\n')

    namaLengkap = namaLengkap.split()
    
    print('NIM:', tuple(nim), '\n')
    print('NAMA DEPAN:', tuple(namaLengkap[0]), '\n')

    namaLengkap.reverse()
    print('NAMA TERBALIK:', tuple(namaLengkap))

data = ("Kevin Nathanael Hariyanto", '71241122', 'Sleman, Yogyakarta')
nim_nama_alamat(data)

Data: ('Kevin Nathanael Hariyanto', '71241122', 'Sleman, Yogyakarta')

NIM	: 71241122
NAMA	: Kevin Nathanael Hariyanto
ALAMAT	: Sleman, Yogyakarta

NIM: ('7', '1', '2', '4', '1', '1', '2', '2')

NAMA DEPAN: ('K', 'e', 'v', 'i', 'n')

NAMA TERBALIK: ('Hariyanto', 'Nathanael', 'Kevin')

In [3]:
# latihan soal 3

namaFile = str(input("Enter a file name: "))
handle = open(namaFile)
dict = {}

for line in handle:
    if line.startswith("From "):
        pisah = line.split()
        waktu = pisah[5]
        waktuPisah = waktu.split(":")
        
        if waktuPisah[0] not in dict:
            dict[waktuPisah[0]] = 1
        else:
            dict[waktuPisah[0]] += 1

print("\n".join([f"{x} {dict[x]}" for x in sorted(dict)]))

Enter a file name:  mbox-short.txt

04 3
06 1
07 1
09 2
10 3
11 6
14 1
15 2
16 4
17 2
18 1
19 1